*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,ul {
	list-style:none;
}

li{
    list-style: none;
}
  
ul{
    padding: 0;
}
  
body{
    min-height: 100vh;
    font-family: mr-eaves-xl-modern, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    background-color: black;
    font-family: 'Lato', sans-serif;
    background-image: url(/public/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}
  
.container__detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    background-color: black;
    max-width: 100vw;
}



// AANPASSINGEN CSS NAAR EIGEN SMAAK

.card{
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    background-color: black;
    min-height: 580px;
}

.card-text--smaller{
    font-size: 0.8rem;
    margin-bottom: 0rem;
}

.card__single{
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 95vh;
    // background-color: red;
    padding: 0rem;
}

.bigImage{
    width: 40vw;
    background-color: green;
    object-fit: cover;
    overflow: hidden;
}

.smallImage{
    width: 15vw;
    background-color: green;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 2rem;
}
  
.more-info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    // background-color: pink;
    width: 20vw;
    padding: 0rem;
    padding-right: 2rem;
}
  
.smallertext{
    font-size: 0.8rem;
    margin-bottom: 0rem;
}

.synopsis{
    margin-top: 1rem;
}


.navbar{
    background-color: black;
    height: 5vh;
}
  
.toonoverzicht{
    display: none;
}
.toondetail{
    display: none;
}
    
